:root {
  --playfair: "Playfair Display", serif;
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --black: #000;
  --cyan: #00f8f4;
  --light-shadow: rgba(224, 241, 255, .4);
  --lightgray: rgba(0, 0, 0, .4);
  --pink: #ff4da6;
  --purple: #41228e;
  --section-margin: 120px;
  --white: #fff;
  --yellow: #ff9f12;
}

/* ----- ANIMATION -----*/

@keyframes rotate {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}


/* ----- COMMON -----*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--playfair);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-bottom: var(--section-margin);
}

/* ----- HEADER -----*/

.header {
  position: relative;
  padding-top: 40px;
  background: url("../images/header-bg.png") 50% 50% no-repeat;
  background-size: cover;
}


.header-leaf {
  position: absolute;
  bottom: -50px;
  left: 20%;
  width: 169px;
  height: 96px;
  background: url("../images/leaf.png") 50% 50% no-repeat;
}

.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1200px;
  min-height: 60px;
  margin: 0 auto;
}

.logo {
  color: var(--white);
  font-size: 35px;
  font-weight: bold;
}

.menu-list {
  display: flex;
}


.menu-item-link {
  display: block;
  padding: 15px 20px;
  transition: all .3s ease;
  text-transform: uppercase;
  color: var(--white);
  font-size: 18px;
}


.menu-item-link:hover {
  transition: all .3s ease;
  color: var(--purple);
  background-color: var(--yellow);
}

/*----- SLIDER ----- */

.main-carousel {
  position: relative;
  height: calc(100vh - 100px);
  padding: 10% 15%;
  color: var(--white);
  font-family: var(--poppins);
  font-size: 80px;
  font-weight: bold;
}

.main-carousel-dots {
  position: absolute;
  right: 8%;
  bottom: 5%;
  display: flex;
  align-items: baseline;
}
.main-carousel-dots li.slick-active button {
  font-size: 60px;
  font-weight: bold;
}

.main-carousel-dots button {
  margin: 0 10px;
  cursor: pointer;
  color: var(--white);
  border: none;
  outline: none;
  background-color: transparent;
  font-family: var(--playfair);
  font-size: 20px;
}

/* ----- KNOW MORE SECTION -----*/

.know-more-section {
  margin-top: 80px;
  text-align: center;
}

.know-more-section p {
  font-size: 22px;
  font-weight: 500;
}

.know-more-section a {
  position: relative;
  display: inline-block;
  margin-top: 45px;
  text-transform: uppercase;
  color: var(--purple);
  font-size: 18px;
  font-weight: 700;
}

.know-more-section a:after {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  transition: all .3s ease-in-out;
  opacity: 0;
  background-color: var(--purple);
}

.know-more-section a:hover:after {
  bottom: 0;
  opacity: 1;
}

.section-title {
  position: relative;
  z-index: 10;
  margin-bottom: 80px;
  text-align: center;
  font-family: var(--poppins);
  font-size: 60px;
  font-weight: 700;
}

/*----- SKILLS SECTION -----*/

.skill-items-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-item {
  width: 23%;
  transition: .3s ease-out;
  border-radius: 10px;
  box-shadow: 0 59px 39.1px 6.9px var(--light-shadow);
}

.skill-item:hover {
  transition: .3s ease-out;
  transform: scale(1.1);
}

.skill-diagram {
  width: 100%;
  height: 100%;
  min-height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.skill-item:first-child > .skill-diagram {
  background: url("../images/skill-img-1.png") 50% 50% no-repeat;
  background-size: cover;
}

.skill-item:nth-child(2) > .skill-diagram {
  background: url("../images/skill-img-2.png") 50% 50% no-repeat;
  background-size: cover;
}

.skill-item:nth-child(3) > .skill-diagram {
  background: url("../images/skill-img-3.png") 50% 50% no-repeat;
  background-size: cover;
}

.skill-item:nth-child(4) > .skill-diagram {
  background: url("../images/skill-img-4.png") 50% 50% no-repeat;
  background-size: cover;
}

.skill-name {
  padding: 10px 0 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

/*----- EXPERIENCE SECTION -----*/

.experience-section {
  position: relative;
  z-index: 10;
}

.experience-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-item {
  width: 25%;
  text-align: center;
}

/* .experience-item:hover .experience-icon {
    animation: 4s linear 0s infinite alternate rotate;
} */

.experience-icon {
  width: 110px;
  height: 118px;
  margin: 0 auto;
  animation: 4s linear 0s infinite rotate;
}

.experience-item:first-child .experience-icon {
  background: url("../images/exp1.png") 50% 50% no-repeat;
  background-size: cover;
}

.experience-item:nth-child(2) .experience-icon {
  background: url("../images/exp2.png") 50% 50% no-repeat;
  background-size: cover;
}

.experience-item:nth-child(3) .experience-icon {
  background: url("../images/exp3.png") 50% 50% no-repeat;
  background-size: cover;
}

.experience-date {
  margin-bottom: 5px;
  font-family: var(--roboto);
  font-size: 18px;
}
.experience-position {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}
.experience-company {
  text-transform: uppercase;
  color: var(--lightgray);
  font-size: 22px;
}


/*----- EDUCATION SECTION -----*/

.education-section {
  position: relative;
}

.education-bg {
  position: absolute;
  z-index: 0;
  top: -350px;
  width: 100%;
  height: 1000px;
  background: url("../images/edu-dots.png") 50% 0 no-repeat;
  background-size: cover;
}

.education-items-box {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
}

.education-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 50px;
  padding-left: 20px;
}

.education-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 18px 39.1px 6.9px var(--light-shadow);
}


.education-img img {
  width: 30px;
  height: 30px;
} 

.education-text-box {
  width: 65%;
}

.education-year {
  margin-bottom: 10px;
  font-family: var(--roboto);
  font-size: 18px;
}
.education-course {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

.education-place {
  color: var(--lightgray);
  font-size: 18px;
}

/*----- SERVICES SECTION -----*/




/*----- PORTFOLIO SECTION -----*/

.gallery-box {
    display: flex;
}

.gallery-img {
    display: block;
    height: auto;
    width: 370px;
}

.gallery-items {
    width: calc(100% - 370px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.gallery-items .gallery-img {
    width: 370px;
    height: 280px;
}

.gallery-items .gallery-img:nth-child(odd) {
    margin-right: 25px;
    margin-left: 25px;
}